<nb-card *ngIf="!selectedChannel" class="container p-5">
  <div class="row">
    <div class="container-fluid">
      New Channel
      <div class="row">
        <label>Channel name:</label> <input type="text" [(ngModel)]="channelName">
      </div>
      <div class="row">
        <button class="btn" (click)="createChannel()">Create Channel</button>
      </div>
    </div>
  </div>
  <div *ngFor="let channel of channels | async" class="row">
    <a [routerLink]="channel" class="text-uppercase">{{ channel }}</a>
    <!--		<a routerLink="channel" routerLinkActive="active" class="text-uppercase">{{channel}}</a>-->
  </div>
</nb-card>
