<nb-layout>

  <nb-layout-header fixed>
    <nb-actions class="d-flex" fullWidth>
      <nb-action (click)="openSidebar()" class="pointer">
        <nb-icon status="danger" icon="menu-outline"></nb-icon>
      </nb-action>
      <nb-action class="mr-auto">
<!--        <h2>{{title}}</h2>-->
      </nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-sidebar state="collapsed" fixed>
    <app-channel-list></app-channel-list>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
